/reportes
.env
/scripts/axossss.py
/scripts/axoun.py
/AXONIUS_FILES/IXTLA/critical.csv
/AXONIUS_FILES/IXTLA/high.csv
/ARCHIVOS_REPORTES/CARSO
/ARCHIVOS_REPORTES/IXTLA
/ARCHIVOS_REPORTES/L_ALB
/src/Graficas/data_CARSO.csv
/src/Graficas/data_IXTLA.csv
/src/Graficas/data_L_ALB.csv